:root {
	--color-primary: #9eafff;
	--color-secondary: #3ff266;
	--color-bg: #1d2444;
	--color-text: #d2d5e9;
	--color-primary-light: #c5d0ff;
	--color-table-bg: rgba(39, 48, 83, 0.5);
	--color-table-border: #4a5488;
	--color-scrollbar-thumb: #37406d;
	--color-scrollbar-thumb-hover: #4c5790;
	--max-content-width: 1600px;
}
