@use "sass:color";
@import 'variables';
@import 'include-media';

body {
	color: $text-color;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: url('~/assets/images/background-blocks.svg') no-repeat top right,
		radial-gradient(
				circle closest-side at center 10%,
					// #826861, transparent
					rgba(104, 110, 12, 1), transparent
			)
			no-repeat, $background-color
		;
	@include media('>=tablet') {
		background: url('~/assets/images/background-blocks.svg') no-repeat top right,
			radial-gradient(
					calc(600px - 10vh) at calc(40% - 400px) 20%,
					rgba(104, 110, 12, 1), transparent
				)
				no-repeat,
			$background-color;
	}
}

a, a:visited {
	color: $primary-accent-color;
	&:hover, &:active {
		color: color.adjust($primary-accent-color, $lightness: 10%);
	}
}

pre {
	font-family: 'JetBrains Mono', monospace;
}

strong {
	color: $primary-accent-color;
}

button {
	background-color: $primary-accent-color;
	border-radius: 20px;
	border: none;
	color: $background-color;
	font-weight: bold;
	margin: 10px;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: all 0.3s;
	&:hover, &:active {
		box-shadow: 0 0 30px 0px $primary-accent-color;
		color: $text-color;
		cursor: pointer;
	}
}

input {
	background: transparent;
	border: none;
	padding: 10px;
	border-bottom: 1px solid $primary-accent-color;
	text-align: right;
	color: white;
	&:hover, &:active, &:focus {
		 outline-width: 0;
		border-bottom: 1px solid white;
	}
}

h1, h2 {
	text-align: center;
	font-weight: 200;
	margin: 30px 0 30px 0;
}

::selection {
  color: white;
  background-color: $primary-accent-color;
}

.gradient-box-border {
	background-color: $background-color;
	border-image: linear-gradient(
			to bottom,
			#665c82 10.41669%,
			#867379 21.875%,
			#755d4b 30.7292%,
			#7d553f 41.6667%,
			#707a56 53.6458%,
			#729270 63.5417%,
			#89b6a4 72.3958%,
			#9ca3ac 84.375%,
			rgba(189, 164, 174, 0.25) 92.7083%,
			rgba(221, 182, 183, 0) 100%
		)
		1 1;
	border-color: #665c82;
	border-style: solid;
	border-width: 1px;
	// ***FIXME*** Border radius doesn't work with border-image.
	// border-radius: 30px;
}


.vue-notification-template.vue-notification {
	background-color: $primary-accent-color;
	border-left: none;
	border-radius: 3px;
	box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
	margin-top: 10px;
	text-align: center;
}
